<%-include("../../views/partials/user/header")%>

<style>

  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden; /* Prevent horizontal scrolling on the body */
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #000;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

</style>

<br>
<br><br>
<br>

<section id="billboard" class="position-relative overflow-hidden bg-light-blue" style="padding: 60px 0;">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Bold Looks. Superior Sound.</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Where Sound Meets Perfection!</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image1.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Hear Every Beat, Feel Every Moment!</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image2.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add pagination dots -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<section id="company-services" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="cart-outline">
              <use xlink:href="#cart-outline" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="quality">
              <use xlink:href="#quality" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="price-tag">
              <use xlink:href="#price-tag" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="shield-plus">
              <use xlink:href="#shield-plus" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mobile-products" class="product-store position-relative padding-large no-padding-top" style="margin-bottom: -450px;">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">New Arrivals</h2>
        <div class="btn-right">
          <a href="/shop" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper d-flex flex-wrap justify-content-center">
          <% for (let i = 0; i < products.length; i++) { %>
            <div class="swiper-slide col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <a href="/product-details?id=<%=products[i]._id%>">
                    <img src="/uploads/re-image/<%=products[i].productImage[0]%>" 
                         alt="<%=products[i].productName%>" 
                         class="img-fluid"
                         onerror="this.onerror=null; this.src='/images/default-product.jpg';"
                         style="width: 100%; height: 300px; object-fit: cover;">
                  </a>
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="/addToCart?id=<%=products[i]._id%>" class="btn btn-medium btn-black">
                      Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                    </a>
                  </div>
                </div>
                <div>
                  <a aria-label="add to Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%=products[i]._id%>"></a>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#"><%=products[i].productName%></a>
                  </h3>
                  <span class="item-price text-primary"><%=products[i].salePrice%></span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>

<section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" 
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/single-image1.png'); 
         background-position: center;
         background-repeat: no-repeat; 
         background-size: cover;
         width: 100vw;
         position: relative;
         left: 50%;
         right: 50%;
         margin-left: -50vw;
         margin-right: -50vw;
         min-height: 500px;">
    <div class="row d-flex flex-wrap align-items-center h-100">
      <div class="col-md-6 col-sm-12">
        <div class="text-content ps-5">
          <h2 class="display-1 pb-4 text-uppercase text-white fw-bolder">Feel the<br>Music</h2>
          <a href="/shop" class="btn btn-lg btn-warning text-uppercase fw-bold">Shop Now</a>
        </div>
      </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<script>
  var mainSwiper = new Swiper('.main-swiper', {
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: '.swiper-arrow-next',
      prevEl: '.swiper-arrow-prev',
    },
  });
</script>

<!-- Add this script just before closing body tag, after including Swiper JS -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.main-swiper', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        type: 'bullets',
        dynamicBullets: true,
        dynamicMainBullets: 3,
        renderBullet: function (index, className) {
          if (index < 3) { // Only show 3 bullets
            return '<span class="' + className + '"></span>';
          }
          return '';
        },
      },
    });
  });
</script>



<%-include("../../views/partials/user/footer")%>