<%-include("../../views/partials/user/header")%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>

  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden; /* Prevent horizontal scrolling on the body */
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #000;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  #yearly-sale{
    margin-top: -350px;
  }

  


</style>

<br>
<br><br>
<br>

<section id="billboard" class="position-relative overflow-hidden bg-light-blue" style="padding: 60px 0;">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Bold Looks. Superior Sound.</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Where Sound Meets Perfection!</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image1.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-between" style="min-height: 400px;">
            <div class="col-md-6">
              <div class="banner-content d-flex flex-column justify-content-center">
                <h1 class="display-2 text-uppercase text-dark pb-5">Hear Every Beat, Feel Every Moment!</h1>
                <a href="/shop" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="width: fit-content;">Shop Product</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-holder text-center d-flex align-items-center justify-content-center">
                <img src="images/banner-image2.png" alt="banner" class="img-fluid" style="max-height: 350px; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add pagination dots -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<section id="company-services" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="cart-outline">
              <use xlink:href="#cart-outline" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="quality">
              <use xlink:href="#quality" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="price-tag">
              <use xlink:href="#price-tag" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="shield-plus">
              <use xlink:href="#shield-plus" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mobile Products Section -->
<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">New Arrivals</h2>
        <div class="btn-right">
          <a href="/shop" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper d-flex flex-wrap justify-content-center">
          <% for (let i = 0; i < products.length; i++) { %>
            <div class="swiper-slide col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <a href="/product-details?id=<%=products[i]._id%>">
                    <img src="/uploads/re-image/<%=products[i].productImage[0]%>" 
                         alt="<%=products[i].productName%>" 
                         class="img-fluid"
                         onerror="this.onerror=null; this.src='/images/default-product.jpg';"
                         style="width: 100%; height: 300px; object-fit: cover;">
                  </a>
                </div>
                
                <!-- Wishlist Button -->
                <div class="wishlist-btn position-absolute top-0 end-0 m-2">
                  <button class="btn btn-sm btn-outline-secondary" 
                          onclick="handleWishlist('<%=products[i]._id%>', this)">
                    <i class="far fa-heart"></i>
                  </button>
                </div>
                
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <button 
                      class="btn btn-medium btn-black" 
                      onclick="handleAddToCart('<%=products[i]._id%>')"
                      <%= products[i].quantity === 0 ? 'disabled' : '' %>
                    >
                      <%= products[i].quantity === 0 ? 'Out of Stock' : 'Add to Cart' %>
                      <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                    </button>
                  </div>
                </div>
                
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#"><%=products[i].productName%></a>
                  </h3>
                  <span class="item-price text-primary"><%=products[i].salePrice%></span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>

<!-- Yearly Sale Section -->
<section id="yearly-sale" class="bg-light-blue overflow-hidden padding-xlarge" 
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/single-image1.png'); 
         background-position: center;
         background-repeat: no-repeat; 
         background-size: cover;
         width: 100vw;
         position: relative;
         left: 50%;
         right: 50%;
         margin-left: -50vw;
         margin-right: -50vw;
         min-height: 500px;">
    <div class="row d-flex flex-wrap align-items-center h-100">
      <div class="col-md-6 col-sm-12">
        <div class="text-content ps-5">
          <h2 class="display-1 pb-4 text-uppercase text-white fw-bolder">Feel the<br>Music</h2>
          <a href="/shop" class="btn btn-lg btn-warning text-uppercase fw-bold">Shop Now</a>
        </div>
      </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>




<script>
  var mainSwiper = new Swiper('.main-swiper', {
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: '.swiper-arrow-next',
      prevEl: '.swiper-arrow-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      type: 'bullets',
      dynamicBullets: true,
      dynamicMainBullets: 3,
      renderBullet: function (index, className) {
        if (index < 3) {
          return '<span class="' + className + '"></span>';
        }
        return '';
      },
    },
  });

  function showLoginSignupPrompt(type = 'cart') {
    const actionText = type === 'wishlist' ? 'add products to your wishlist' : 'add products to your cart';
    Swal.fire({
      icon: 'info',
      title: 'Login Required',
      text: `You need to login to ${actionText}`,
      confirmButtonColor: '#4f46e5',
      confirmButtonText: 'Login',
      showCancelButton: true,
      cancelButtonText: 'Cancel',
      footer: '<a href="/signup" style="color: #4f46e5; text-decoration: underline;">Don\'t have an account? Sign up</a>'
    }).then((result) => {
      if (result.isConfirmed) {
        const returnUrl = encodeURIComponent(window.location.pathname + window.location.search);
        window.location.href = `/login?returnUrl=${returnUrl}`;
      }
    });
  }

  function updateCartCount(count) {
    const cartCountElements = document.querySelectorAll('.cart-count');
    cartCountElements.forEach(el => {
        el.textContent = count;
        el.style.display = count > 0 ? 'inline-block' : 'none';
    });
  }

  function updateWishlistCount(count) {
    const wishlistCountElements = document.querySelectorAll('.wishlist-count');
    wishlistCountElements.forEach(el => {
        el.textContent = count;
        el.style.display = count > 0 ? 'inline-block' : 'none';
    });
  }

  function handleAddToCart(productId, quantity, maxQuantity = 5) {
    if (quantity === 0) {
      Swal.fire({
        icon: 'error',
        title: 'Out of Stock',
        text: 'Sorry, this product is currently not available',
        confirmButtonColor: '#dc3545'
      });
      return;
    }

    <% if (!user) { %>
      showLoginSignupPrompt();
      return;
    <% } %>

    $.ajax({
      url: '/cart/add',
      method: 'POST',
      data: {
        productId: productId,
        quantity: 1
      },
      success: function(response) {
        if (response.success) {
          let message = response.message;
          
          if (response.removedFromWishlist) {
            message = 'Product added to cart and removed from wishlist!';
            updateWishlistCount(response.wishlistCount);
          }

          Swal.fire({
            icon: 'success',
            title: 'Cart Updated',
            text: message,
            confirmButtonColor: '#4f46e5',
            timer: 2000,
            timerProgressBar: true
          });
          
          updateCartCount(response.cartCount);
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: response.message,
            confirmButtonColor: '#dc3545'
          });
        }
      },
      error: function(xhr) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: xhr.responseJSON?.message || 'Failed to add to cart',
          confirmButtonColor: '#dc3545'
        });
      }
    });
  }

  function handleWishlist(productId, button) {
    <% if (!user) { %>
      showLoginSignupPrompt('wishlist');
      return;
    <% } %>

    const isInWishlist = button.classList.contains('active');
    const url = isInWishlist ? '/wishlist/remove' : '/wishlist/add';
    const actionText = isInWishlist ? 'Removed from' : 'Added to';

    $.ajax({
      url: url,
      method: 'POST',
      data: { productId },
      success: function(response) {
        if (response.success) {
          if (isInWishlist) {
            button.classList.remove('active');
            button.innerHTML = '<i class="far fa-heart"></i>';
          } else {
            button.classList.add('active');
            button.innerHTML = '<i class="fas fa-heart"></i>';
          }

          Swal.fire({
            icon: 'success',
            title: `${actionText} Wishlist`,
            text: `Product has been ${actionText.toLowerCase()} your wishlist!`,
            confirmButtonColor: '#4f46e5',
            timer: 1500,
            timerProgressBar: true
          });
          updateWishlistCount(response.wishlistCount);
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: response.message || `Failed to ${actionText.toLowerCase()} wishlist`,
            confirmButtonColor: '#dc3545'
          });
        }
      },
      error: function(xhr) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: xhr.responseJSON?.message || 'Failed to process wishlist request',
          confirmButtonColor: '#dc3545'
        });
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function() {
    // Initialize Swiper
    const swiper = new Swiper('.main-swiper', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        type: 'bullets',
        dynamicBullets: true,
        dynamicMainBullets: 3,
        renderBullet: function (index, className) {
          if (index < 3) {
            return '<span class="' + className + '"></span>';
          }
          return '';
        },
      },
    });

    // Check wishlist status for each product
    <% if (user) { %>
      document.querySelectorAll('.wishlist-btn').forEach(btnDiv => {
        const button = btnDiv.querySelector('button'); // select the real <button> inside
        const productCard = btnDiv.closest('.product-card');
        if (productCard && button) {
          const productId = productCard.querySelector('button[onclick^="handleAddToCart"]')
            .getAttribute('onclick').match(/'([^']+)'/)[1];
          
          $.ajax({
            url: '/wishlist/check',
            method: 'POST',
            data: { productId },
            success: function(response) {
              if (response.success && response.isInWishlist) {
                button.classList.add('active');
                button.innerHTML = '<i class="fas fa-heart"></i>';
              }
            },
            error: function(xhr) {
              console.error('Error checking wishlist status:', xhr);
            }
          });
        }
      });
    <% } %>
  });
</script>



<%-include("../../views/partials/user/footer")%>